<!-- signup modal -->
<div class="modal fade in" id="signupModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                Body
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="bottom-container">
              <a href="#" class="btn" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login</a>
          </div>
        </div>

      </div>
    </div>
  </div>