<!-- Admin page -->
<ng-container *ngIf="currentUser && currentUser.MaLoaiNguoiDung === 'QuanTri'; else userTemplate">
  <admin-toolbar-component></admin-toolbar-component>
  <div id="wrapper">
    <admin-navbar-component></admin-navbar-component>
    <div id="content-wrapper">
      <div class="container-fluid">
        <admin-breadcrumb-component></admin-breadcrumb-component>
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->

      <admin-footer-component></admin-footer-component>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <admin-logout-modal-component></admin-logout-modal-component>
</ng-container>

<!-- User page -->
<ng-template #userTemplate>
  <header-component></header-component>
  <router-outlet></router-outlet>
  <footer-component></footer-component>
</ng-template>